/* styles.css */

/* Gayakan tombol Save dan Un-Save */
button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  button.save {
    background-color: #4caf50;
    color: #fff;
  }
  
  button.unsave {
    background-color: #ff0000;
    color: #fff;
  }
  /* styles.css */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Saved */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}

  